# Compiled python files
# Dependency directories
# Environment variables
# Logs
# Python cache files
# Reflex
# Virtual environment
*.db
*.log
*.py[cod]
*.pyc
.env
.idea
.web
/*.pyc
/.env
/output
__pycache__/
env/
lib/
lib64/
venv/