<!doctype html>
<html lang="es">
<head>
    {% include 'includes/header.html' %}
    <script defer src="{{ url_for('static', filename='js/feed.js') }}"></script>
</head>
<body>
<h1>Detection and Track Persons - Video</h1>
<div id="video-container">
    <img id="video-stream" alt="Video stream" src="{{ url_for('video_feed') }}"/>
</div>
<form id="stop-form" class="container" action="{{ url_for('stop_video') }}" method="get">
    <button type="submit" class="btn btn-primary">Stop Video</button>
</form>
<div id="results-container" class="container">
    <h2>Results</h2>
    <div id="results"></div>
</div>
</body>
</html>
